body {
    margin: 0;
}
div {
    box-sizing: border-box;
}
p,h4 {
    margin: 0;
}
.container {
    width: 1200px;
    margin: 50px;
    margin-left: auto;
    margin-right: auto;
}
.left {
    width: 700px;
    float: left;
    margin:30px;
}
.right {
    width: 300px;
    float: right;
    margin: 60px 60px;

}
.name-img {
    float: left;
    width: 50px;
}
.name-text {
    float: left;
    margin-left: 10px;
    margin-top: 5px;
}
.content {
    margin-top: 20px;
}