body,h1,p {
    margin: 0;
}
div {
    box-sizing: border-box;
}
.container {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.cart {
    width: 800px;
    border: 1px solid black;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
}
.title {
    margin-bottom: 20px;
    text-align: left;
}
.name {
    display: inline-block;
    vertical-align: middle;
    text-align: left;
    margin-left: 20px;

}
.brand-name {
    font-size: 24px;
}
.product-name {
    font-size: 16px;
}
img {
    width: 50px;
    height: 50px;
    vertical-align: middle;
}
td {
    border: 1px solid black;
    padding: 10px;
    
}
tr {
    text-align: center;
}
.amount {
    text-align: right;
    padding: 0;
    padding-right: 40px;
}
.price {
    text-align: right;
    padding: 0;
    padding-right: 50px;
    margin: 0;

}