body,h1,p {
    margin: 0;
}
div {
    box-sizing: border-box;
}
.wrap {
    width: 100%;
    padding: 50px;
    height: auto;
    background-color: antiquewhite;
}
.container {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}
.cart {
    width: 800px;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0px 0px 5px 0px gray;
    border-radius: 10px;
    background-color: white;
}
.title {
    margin-bottom: 20px;
    text-align: left;
}
.name {
    display: inline-block;
    vertical-align: middle;
    text-align: left;
    margin-left: 20px;

}
.brand-name {
    font-size: 24px;
}
.product-name {
    font-size: 16px;
}
img {
    width: 150px;
    height: 100px;
    vertical-align: middle;
}
td {
    border-bottom: 1px solid black;
    padding: 5px;
    
}
tr {
    text-align: center;
}
.amount,.total,.price {
    text-align: right;
    padding-right: 20px;
}
.total {
    font-weight: bold;
}
.float-wrap {
    overflow: hidden;
}
.link {
    margin-top: 30px;
    float: left;
}
button {
    margin-top: 20px;
    float: right;
    padding: 20px;
    border-radius: 5px;
    border: none;
    background-color: beige;

}